# Database - Local: PostgreSQL | Produção: Supabase
DATABASE_URL="postgresql://[user]:[password]@[host]:5432/[database]"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="sua-chave-secreta-aqui"
